h1{
    margin: 30px;
    border: 10px double;
    border-radius: 2px;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
    
}

h2{
    margin: 30px;
    border: 10px double;
    border-radius: 2px;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
}

h3{
    margin: 30px;
    border: 10px;
    border-radius: 2px;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}

legend {
    margin: 30px;
    border: 10px double black;
    border-radius: 2px;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    
    }

    input[type=text]:focus {
        background-color: lightblue;
      }

    input {
        width: 100%;
      }

    div{
        border-width: 20px 5px;
        text-align: center;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        font-family:Georgia, 'Times New Roman', Times, serif;
       

    }

    label {
        font-size: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: darkslategrey;
    }

    input[type=text] {
        border: 2px solid black;
        border-radius: 4px;
        font-family:Georgia, 'Times New Roman', Times, serif;
       
      }

    button{
        border-width: 20px 5px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        
    }


    input[type=button] {
        background-color: lightskyblue;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        width: 50%;
        border-radius: 50%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 150%;
    }

fieldset{
    border-radius: 2px;
    margin: 30px;
    border: 10px double black;
    padding: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
   

}
    
 
body{
    text-align: center;
    background-color: grey;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

